.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #34C94B;
    height: 50px;
}

.logo-image {
    width: 70px; /* Set the desired width for the logo image */
    height: auto; /* Maintain aspect ratio */
    padding: 5px;
}

.search-container {
    display: flex;
    justify-content:space-between;
   max-width: fit-content;
   min-width: auto;
    
}
.form-control{
    border: 1px solid black;
    border-radius: 10px;
}



.search-button {
    /* background-color: blue !important;
    color: yellowgreen !important;
    width:fit-content; */
}

.search-button:hover{

    background-color: #8112ca !important;
    /* transition: 3ms;
    transform:rotate(); */
    

}

.form-control {
    /* margin-right: 10px; Adjust margin between input and button */
    width: 400px;
}
.form-control:focus{
    width: 600px;
}
.custom-button {
    width: 150px;
    height: 40px;
    background-color: black;
    color: #34C94B;
    border: 2px solid;
    border-radius: 15px  ; /* Add !important to ensure it takes precedence */
    font-family: "Roboto, Helvetica, Arial, sans-serif, 'Poppins'";
  }
  
  /* .custom-button:hover { 
    background-color: chartreuse ;
    color: black ;
  }
   */