.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #34C94B;
}

.logo-image {
    width: 25px; /* Set the desired width for the logo image */
    height: auto; /* Maintain aspect ratio */
}

.search-container {
    display: flex;
    justify-content:space-between;
   max-width: fit-content;
   min-width: auto;
    
}
.form-control{
    border: 1px solid black;
    border-radius: 10px;
}



.search-button {
    /* background-color: blue !important;
    color: yellowgreen !important;
    width:fit-content; */
}
.form-control:focus{
    width: 300px;
}
.search-button:hover{

    background-color: #8112ca !important;
    /* transition: 3ms;
    transform:rotate(); */
    

}

.form-control {
    margin-right: 10px; /* Adjust margin between input and button */
}

