.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

[data-theme='light'] {
  background-color: #f8f9fa;
  color: #222;
}
[data-theme='dark'] {
  background-color: #121212;
  color: #f8f9fa;
}

/* .App.light {
  background-color: #f8f9fa;
  color: #222;
} */
/* .App.dark {
  background-color: #121212;
  color: #f8f9fa;
} */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
