[data-theme="light"] {
  --bg-color: #f8f9fa;
  --text-color: #222;
  --navbar-bg: #070606;
  --hero-bg: #f0f0f0;
  --accent-color: #007bff;
  --box-shadow-color: rgba(62, 235, 91, 0.904);
}

/* Dark Theme */
[data-theme="dark"] {
  --bg-color: #000000;
  --text-color: #ffffff;
  --navbar-bg: #34C94B;
  --hero-bg: #1a1a1a;
  --accent-color: #00c9a7;
  --box-shadow-color: rgb(250, 250, 250);

}
